/* DASHBOARD  */
.container-hero{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width:100%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.logo-hero{
    width: 600px;
    border-radius: 5px;
}

.wrp-img{
    display: flex;
    justify-content: start;
}

.text-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center text horizontally */
    width: 100%;
    padding: 60px 50px 0px 50px;
}

/* NAVBAR HERO  */
.conten{
    display: flex;
    justify-content: space-between;
    
}


.wrp-img{
    display: absolute;
    left: 10px;
}





.sidenav .dropdown-menu {
    transition: transform 0.3s ease;
}

